@import "./Stylesheet/_reset.scss";
@import "./Stylesheet/_header.scss";
@import "./Stylesheet/_toDoList.scss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0 auto;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}
